.section-handbook {
    height: 300px !important;
    background-color: #f5f5f5;

    .section-container {
        .section-body {
            .section-customize {
                display: flex !important;
                margin: 0 5px;

                h3 {
                    width: 50% !important;
                    font-size: 16px;
                    color: #333;
                    font-weight: 600;
                    padding: 10px;
                    line-height: 1.8rem;
                }
            }

            .section-customize:hover {
                h3 {
                    color: #49BCE2;
                }
            }
        }
    }
}