.section-medical {
    height: 370px !important;
    background-color: #f5f5f5;

    .section-container {
        .section-body {
            .section-customize {
                .bg-image {
                    background-color: #ffffff !important;
                    background-size: 100% !important;
                    height: 150px !important;
                }
            }
        }
    }
}