.section-footer {
    height: max-content !important;
    .footer-contact {
        background-color: #efefef;
        padding: 30px 0;

        .section-container {
            .section-body {
                display: flex;

                .footer-brand {
                    width: 50%;

                    a {
                        display: inline-block;

                        .logo-image {
                            background-image: url('../../assets/logo.svg');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 44px;
                            width: 200px;
                        }
                    }

                    .information {
                        margin-top: 10px;
                        h2 {
                            font-size: 14px;
                            font-weight: 600;
                            margin: 5px 0;
                        }

                        p {
                            font-size: 14px;
                            margin: 5px 0;

                            i {
                                font-size: 14px;
                                margin-right: 6px;
                            }
                        }
                    }

                    .certificate {
                        margin-top: 15px;
                        a {
                            display: inline-block;

                            .certificate-bg {
                                background-image: url('../../assets/bo-cong-thuong.svg');
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 30px;
                                width: 78px;
                            }
                        }
                    }
                }

                .footer-support {
                    width: 25%;

                    ul {
                        list-style: none;

                        li {
                            padding: 5px 0;

                            a {
                                padding: 5px 0;
                                font-size: 14px;
                                color: #45C3D2;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .footer-address {
                    width: 25%;
                }
            }

            .platform {
                font-size: 14px;

                i {
                    font-size: 14px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }
            }
        }

    }

    .footer-soical {
        background-color: #64B9E5;
        padding: 18px 0;
        .soical-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            span {
                color: #fff;
            }

            .soical {
                .facebook {
                    font-size: 32px;
                    margin: 0 10px;
                }

                .youtube {
                    font-size: 32px;
                }
            }
        }
    }
}